<section>
    <form appIntersectionObserver [threshold]="1" (intersecting)="onForgotPasswordFormIntersection($event)">
        <div class="header">
            <h3>Forgot your password?</h3>
            <p>A code will be sent to your email address to help reset your password</p>
        </div>
        <div class="fields">
            <div class="field" [class.scaledIn]="forgotPasswordField.email">
                <label for="email">Email <span>*</span></label>
                <div class="input">
                    <input id="email" type="email" placeholder="eg. b_mkwanazi@icloud.com">
                </div>
            </div>
        </div>
        <div class="button">
            <button class="btn">Request an OTP</button>
            <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
        </div>
        <a routerLink="/sign-in" class="btn btn-secondary back"><ion-icon name="arrow-back-outline"></ion-icon> Back to login</a>
    </form>
</section>
