@use '../../../../../styles/index' as *;

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem 0;

    border-top: 1px solid $color-muted;

    p, a {
        color: $color-muted;
        font-size: 0.9rem;
    }

    p {
        span {
            font-weight: 500;
            color: $color-primary;
        }
    }

    a {
        &:hover,
        &:focus {
            color: $color-surface;
        }
    }
    div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}