<footer>
  <p>Propel by <span>Boitumelo Mkhwanazi</span></p>
  <div>
    <a href="https://www.linkedin.com/in/boitumelo-mkhwanazi?utm_source=share_via&utm_content=profile&utm_medium=member_ios" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://www.instagram.com/bhutimkhwanazi?igsh=MTV0YXlsZGptZDM1eg%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">Instagram</a>
    <a href="https://www.facebook.com/share/18GuVwxQfE/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer">Facebook</a>
  </div>
</footer>