// Primary Colors
$color-primary: #9046FF;
$color-primary-light: #A78BFA;
$color-primary-dark: #0F0D11; // deep purple

// Neutral Colors
$color-background: #000000; 
$color-surface: #FFFFFF;
$color-muted: #8F8F8F;

// Semantic Colors
$color-success: #22C55E;
$color-warning: #FACC15;
$color-error: #EF4444;