<section>
    <aside>
        <div class="top">
            <div class="header">
                <img src="assets/images/propel-logo.png" alt="">
                <h3>Admin</h3>
            </div>
            <div class="main_menu">
                <span class="text_header">MAIN MENU</span>
                <div class="links">
                    @for (navItem of NAV_ITEMS; track navItem.route) {
                        <a [routerLink]="navItem.route" routerLinkActive="isActive">
                            <ion-icon [name]="navItem.icon"></ion-icon>
                            <span>{{ navItem.label }}</span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <img src="assets/images/user.png" alt="">
                <div class="admin_details">
                    <p>Bhuti Mkhwanazi</p>
                    <span>mkhwanazibuti082gmail.com</span>
                </div>
            </div>
            <div><ion-icon name="ellipsis-vertical-outline"></ion-icon></div>
        </div>
    </aside>
    <main>
        <router-outlet />
    </main>
</section>