<main>
    <div class="header">
        <div class="search_bar">
            <ion-icon name="search-outline"></ion-icon>
            <input type="text" placeholder="search company....">
            <button class="btn">Search</button>
        </div>
        <div class="icons">
            <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
            <div class="icon"><ion-icon name="chatbubble-outline"></ion-icon></div>
            <div class="icon"><ion-icon name="settings-outline"></ion-icon></div>
        </div>
    </div>
    <div class="summary">
        <h3>Dashboard</h3>
        <p>Here are companies registered with us. </p>
        <div class="cards">
            <div class="card">
                <span>Total Companies</span>
                <span>{{ meta?.totalItems }}</span>
                <span>-</span>
            </div>
            <div class="card">
                <span>Pending</span>
                <span>10</span>
                <span>-</span>
            </div>
            <div class="card">
                <span>Accepted</span>
                <span>40</span>
                <span>-</span>
            </div>
            <div class="card">
                <span>Rejected / Unverified</span>
                <span>8</span>
                <span>-</span>
            </div>
        </div>
    </div>
    <div class="companies">
        <div class="nav">
            <h4>Companies</h4>
            <div class="options">
                <div class="option">
                    <ion-icon name="swap-vertical-outline"></ion-icon>
                    <span>Sort: None</span>
                </div>
                <div class="option">
                    <ion-icon name="options-outline"></ion-icon>
                    <span>Filter: None</span>
                </div>
            </div>
        </div>
        <div class="data">
            <div class="table_header">
                <span>Name</span>
                <span>Industry</span>
                <span>Status</span>
                <span>Submitted At</span>
                <span>More Details</span>
            </div>
            <div class="table_rows">
                @if (loading) {
                    @for (i of [1, 2, 3]; track i) {
                        <div class="row skeleton-row">

                            <div class="name">
                                <div class="skeleton skeleton-avatar"></div>
                                <div class="skeleton skeleton-text skeleton-text--name"></div>
                            </div>

                            <div class="skeleton skeleton-text skeleton-text--industry"></div>

                            <div class="status">
                                <div class="skeleton skeleton-dot"></div>
                                <div class="skeleton skeleton-text skeleton-text--status"></div>
                            </div>

                            <div class="skeleton skeleton-text skeleton-text--date"></div>

                            <div class="more_details">
                                <div class="skeleton skeleton-icon"></div>
                            </div>

                        </div>
                        }
                    
                } @else {
                    @if (companies) {
                        @for (company of companies; track company.id) {
                            <div class="row">
                                <div class="name">
                                    <img [src]="company.profileImage?.url" alt="">
                                    <span>{{ company.name }}</span>
                                </div>
                                <span>{{ company.industry }}</span>
                                <div class="status">
                                    <div class="dot"
                                        [class.pending]="company.status === 'PENDING'"
                                        [class.approved]="company.status === 'APPROVED'"
                                        [class.rejected]="company.status === 'REJECTED'"
                                    ></div>
                                    <span>{{ company.status }}</span>
                                </div>
                                <span>{{ company.createdAt.split('T')[0] }}</span>
                                <div class="more_details"><ion-icon name="file-tray-full-outline"></ion-icon></div>
                            </div>
                        }
                    } @else {
                        <p>No company has registered with us. </p>
                    }
                }
            </div>
        </div>
        <div class="footer">
            <span>Total Companies: {{ meta?.totalItems }}</span>
            <div class="pages">
                <button class="backward" [disabled]="!meta?.hasNextPage" (click)="onPageChange(page - 1)">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </button>
                <div class="numbers">
                    <span>Page {{ meta?.currentPage }} of {{ meta?.totalPages }}</span>
                </div>
                <button class="forward" [disabled]="!meta?.hasNextPage" (click)="onPageChange(page + 1)">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
            </div>
            <span>Show Per Page: {{ meta?.itemsPerPage }}</span>
        </div>
    </div>
</main>