/* You can add global styles to this file, and also import other style files */
@use '../src/styles/index' as colors;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: colors.$color-surface;
  background-color: colors.$color-background;
}