<section>
    <a routerLink="/" class="btn btn-secondary back"><ion-icon name="arrow-back-outline"></ion-icon> Go back</a>
    <form appIntersectionObserver [threshold]="1" (intersecting)="onSignInFormIntersection($event)" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="header">
            <h3>Sign in</h3>
            <p>Please enter your credentials to login</p>
        </div>
        <div class="fields">
            <div class="field" [class.scaledIn]="signInFields.email">
                <label for="email">Email <span>*</span></label>
                <div class="input">
                    <input id="email" type="email" placeholder="eg. b_mkwanazi@icloud.com" formControlName="email">
                </div>
                @if (hasError('email', 'required')) {
                    <p class="error">Email is required<p>
                }

                @if (hasError('email', 'email')) {
                    <p class="error">Please enter a valid email <p>
                }
            </div>
            <div class="field" [class.scaledIn]="signInFields.password">
                <label for="password">Password</label>
                <div class="input">
                    <input id="password" [type]="showPassword() ? 'text' : 'password'" placeholder="Enter your password" formControlName="password">
                    @if(showPassword()) {
                        <ion-icon name="eye-outline" (click)="togglePassword()"></ion-icon>
                    } @else {
                        <ion-icon name="eye-off-outline" (click)="togglePassword()"></ion-icon>
                    }
                </div>
                @if (errorMessage()) {
                    <p class="error">{{ errorMessage() }} Please try logging in. </p>
                }
                @if (hasError('password', 'required')) {
                    <p class="error">Password is required <p>
                }
            </div>
            <a routerLink="/forgot-password">Forgot your password?</a>
        </div>
        <div class="button">
            <button class="btn" type="submit" [disabled]="isLoading()" [class.loading]="isLoading()">
                @if(isLoading()) {
                    <span class="orbit-ring" aria-hidden="true">
                        <svg viewBox="0 0 16 16">
                        <g class="dot1"><circle cx="8" cy="8" r="2" fill="#000"/></g>
                        <g class="dot2"><circle cx="8" cy="8" r="2" fill="#000"/></g>
                        <g class="dot3"><circle cx="8" cy="8" r="2" fill="#000"/></g>
                        </svg>
                    </span>
                    <span>Signing in</span>
                } @else {
                    <span>Sign in</span>
                }
            </button>
            <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
        </div>
    </form>
</section>
